{% extends "@JMSJobQueue/base.html.twig" %}
{% import "@JMSJobQueue/Job/macros.html.twig" as macros %}

{% block title %}Overview - {{ parent() }}{% endblock %}

{% block content %}

    <h1><div class="page-header">Overview</div></h1>

    <div class="clearfix">
        <div class="pull-right">
            <form class="form-inline" method="get">
                <select class="form-control" name="state" style="width:150px;">
                    <option value="">All States</option>
                    {% for state in jobStates %}
                        <option value="{{ state }}"{% if jobFilter.state == state %} selected{% endif %}>{{ state }}</option>
                    {% endfor %}
                </select>
                <input  type="text" name="command" class="form-control" placeholder="Command or arguments" value="{{ jobFilter.command }}">
                <input type="hidden" name="page" value="1">

                <input type="submit" class="btn btn-primary" value="Search">
            </form>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>Command</th>
            <th>State</th>
            <th>Created At</th>
            <th>Runtime</th>
            <th>Queue</th>
        </tr>
        </thead>

        <tbody>

            {% if jobsWithError|length > 0 %}
                {% for job in jobsWithError %}
                    <tr>
                        <td><a href="{{ path("jms_jobs_details", {"id": job.id}) }}">{{ job.id }}</a></td>
                        <td><a href="{{ path("jms_jobs_details", {"id": job.id}) }}">{{ macros.command(job) }}</a></td>
                        <td>{{ macros.state(job) }}</td>
                        <td>{{ macros.ago(job.createdAt) }}</td>
                        <td>{{ macros.runtime(job) }}</td>
                        <td>{{ macros.queue(job) }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="height:4px; background-color: #ccc;" colspan="6"></td>
                </tr>
            {% endif %}

            {% for job in jobs %}
                <tr>
                    <td><a href="{{ path("jms_jobs_details", {"id": job.id}) }}">{{ job.id }}</a></td>
                    <td><a href="{{ path("jms_jobs_details", {"id": job.id}) }}">{{ macros.command(job) }}</a></td>
                    <td>{{ macros.state(job) }}</td>
                    <td>{{ macros.ago(job.createdAt) }}</td>
                    <td>{{ macros.runtime(job) }}</td>
                    <td>{{ macros.queue(job) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">There are no jobs.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if jobFilter.page > 1 or hasMore %}
        <ul class="pager">
            {% if jobFilter.page > 1 %}
                <li class="previous">
                    <a href="{{ path("jms_jobs_overview", jobFilter.toArray|merge({"page": jobFilter.page - 1})) }}">&larr; Previous</a>
                </li>
            {% endif %}

            {% if hasMore %}
                <li class="next">
                    <a href="{{ path("jms_jobs_overview", jobFilter.toArray|merge({"page": jobFilter.page + 1})) }}">Next &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
